#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };
&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {};
&mmv {};

/ {
    behaviors {

        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        new_behavior: new_behavior {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp RALT>, <&kp LEFT_GUI>;
        };
    };

    /* 🔥 ПРАВИЛЬНЫЙ ЭНКОДЕР (каждый шаг = событие) */
    vol_encoder: vol_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&kp C_VOLUME_UP>, <&kp C_VOLUME_DOWN>;
    };

    combos {
        compatible = "zmk,combos";

        combo_fd_nav {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&mo 1>;
            layers = <0>;
        };

        combo_service {
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&mo 4>;
            layers = <0>;
        };

        combo_jk_backspace {
            timeout-ms = <50>;
            key-positions = <23 24>;
            bindings = <&kp BSPC>;
            layers = <0 1 2 3 4>;
        };

        combo_kl_delete {
            timeout-ms = <50>;
            key-positions = <24 25>;
            bindings = <&kp DEL>;
            layers = <0 1 2 3 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E          &kp R  &kp T                               &kp UP                &kp Y        &kp U  &kp I      &kp O    &kp P     &kp LBKT
&td0       &kp A  &kp S  &kp D          &kp F  &kp G                     &kp LEFT  &kp ENTER  &kp RIGHT  &kp H        &kp J  &kp K      &kp L    &kp SEMI  &mt LSHFT SQT
&kp LCTRL  &kp Z  &kp X  &kp C          &kp V  &kp B        &kp C_MUTE             &kp DOWN              &kp N        &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &new_behavior  &mo 2  &kp SPC                                           &lt 4 ENTER  &mo 3  &kp LG(SPC)
            >;

            sensor-bindings = <&vol_encoder>;
        };

        nav_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                       &trans            &trans          &mkp LCLK  &kp UP     &mkp RCLK  &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans             &trans    &trans  &trans     &kp LEFT       &kp LEFT   &kp DOWN   &kp RIGHT  &kp RIGHT   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans               &trans            &trans          &trans     &mkp MCLK  &trans     &trans      &trans
                        &trans  &trans  &trans                                         &trans          &trans     &trans
            >;

            sensor-bindings = <&vol_encoder>;
        };

        numb_layer {
            bindings = <
&kp ESC  &trans  &trans  &trans  &trans  &trans                                   &trans              &kp N6   &kp N7  &kp N8  &kp N9  &kp N0  &kp BSPC
&trans   &trans  &trans  &trans  &trans  &trans                 &trans            &kp ENTER  &trans   &kp LEFT  &kp N4  &kp N5  &kp N6  &kp N0  &kp PG_UP
&trans   &trans  &trans  &trans  &trans  &trans   &kp C_MUTE                     &trans               &trans   &kp N1  &kp N2  &kp N3  &kp END &kp PG_DN
                         &trans  &trans  &trans                                                        &kp INS  &kp DEL &trans
            >;

            sensor-bindings = <&vol_encoder>;
        };

        symb_layer {
            bindings = <
&trans  &kp EXCL &kp AT   &kp HASH  &kp DLLR  &kp PRCNT                     &trans          &kp CARET &kp AMPS &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
&trans  &kp SLASH &trans  &trans    &trans    &trans               &trans   &trans  &trans   &kp MINUS &kp LBKT &kp RBKT &kp RBKT &kp BSLH &kp GRAVE
&trans  &trans    &trans  &trans    &trans    &trans   &trans              &trans          &kp UNDER &kp PLUS &kp LBRC &kp RBRC &kp PIPE &kp TILDE
                      &trans  &trans  &kp SPC                                    &kp RET  &trans  &trans
            >;

            sensor-bindings = <&vol_encoder>;
        };

        layer_4 {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6             &trans        &kp F7  &kp F8  &kp F9  &kp F10 &kp F11 &kp F12
&trans  &trans  &trans  &trans  &trans  &trans   &trans    &trans  &trans  &bootloader &trans &trans &trans &trans &trans
&trans  &trans  &trans  &trans  &trans  &trans   &kp C_MUTE         &trans        &trans &trans &trans &trans &trans &trans
               &trans  &trans  &trans                   &trans  &trans  &trans
            >;

            sensor-bindings = <&vol_encoder>;
        };
    };
};
